@import '../scss/mixin';

$colorMenu: rgb(0, 0, 0);
$colorTitulo: rgb(104, 64, 5);
$fuentePrincipal: 'Poppins', sans-serif;
$textoCentrado: center;
$tamanoIcono: 30px;
$tamanoTituloSecciones: 35px;

*{padding: 0; margin: 0;}

html {
    width: auto;
}
header {
    margin-top: 20px;
    margin-bottom: 40px;
            ul.menuFlex {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                padding-right: 40px;
            }   
                    li {
                    list-style: none;
                    border-radius: 10px;
                    padding: 20px;
                    font-family: $fuentePrincipal 
                   
                    }   
                        a {
                            text-decoration: none;
                            color: $colorMenu;
                            font-size: 25px;    
                        }
            h1 {
                font-size: $tamanoTituloSecciones;
                font-family: $fuentePrincipal; 
                margin-top: 70px;
                color: $colorTitulo;
                margin-left: 90px;
                text-transform: uppercase;
                text-decoration: underline overline;                
            }       
            
            h1.animacion {
                animation-name: mianimacion;
                animation-duration: 1s;

            }
            @keyframes mianimacion {
                0% { color: rgba(230, 193, 137, 0.769)}
                25% {color: rgba(205, 130, 17, 0.803)}
                50% { color: rgba(142, 94, 21, 0.837)}
                100% {color: rgb(104, 64, 5)}
            }
}

/*Esta es la seccion Especialidades*/
div.card {
    box-shadow: 0 4px 20px 0 rgba(114, 111, 111, 0.5);

    div.card-body {
        font-family: $fuentePrincipal;
        font-size: 20px;
    }
}
    

// Hasta aca


/*Esta es la seccion Ambar*/

main {
    section {
        div.parallaxAmbar {
            /* The image used */
            background-image: url(../img/ambarcafe.jpg);
          
            /* Set a specific height */
            height: 500px;
          
            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }  
        div{
            h2.h2Ambar{
                @include tipografiaJustificada;
                
                margin-left: 90px;
            }
        }
        div.historia {
            p{
                @include tipografiaJustificada;
                font-size: 25px; 
                margin-top: 90px;
                margin-left: 120px;
                margin-right: 120px;
                margin-bottom: 100px;
                line-height: 2; 
            }
        }
    }
}

// Hasta aca


// Esto es el index
main {
    section {
        div {
            div.imagenPortada {
                background-image: url(../img/barilustrado.jpg);
                width: 100%;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 600px;
                object-fit: cover;
              
                /* scrolling effect */
                background-attachment: fixed;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                    div {
                        h1.textoBorde {
                            font-size: 200px;
                            color: rgb(255, 255, 255);
                            -webkit-text-stroke: 2px black;
   
                        }

                    }
                
            }
        } 
    }     
}
    section.row {
        div{
            p.pdeIndex { @include tipografiaJustificada;
                font-size: 30px;
                margin-top: 250px;
                text-align: justify;
                margin-left: 80px;
            }
        }

        div {
            img.imagenCafe {
                margin-top: 250px;
                margin-left: 60px;
                width: 600px;
            } 
        }
    }


    section.enlaceEspecialidades {
        display: flex;
            
                p {
                    font-family: $fuentePrincipal;
                    font-size: 30px;
                    margin-top: 240px;
                    margin-left: 220px;
                }
                a { 
                    font-family: $fuentePrincipal;
                    color: rgb(205, 129, 17);
                    font-size: 30px;
                    margin-left: 40px;
                    margin-top: 240px;
                }
        }
        
    



.iconoCafe {
    font-size: 40px;
    margin-left: 300px;
    margin-top: 45px;
}

// Hasta aca

/* Esto es la Galeria*/

#contenedor{
    width: 100%;
    display: grid;
    justify-content: center;             
    #proyectos{
            display: grid;
            width: fit-content;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows:  1fr 1fr 1fr; 
            column-gap: 40px;
            row-gap: 40px;
            justify-content: center; 
            
            img{
                
                width: 400px;
                transition: all 1s;
                 }                 

            img:hover{
                transform: scale(1.3);
            }
    } 
}                 

/* Esto es la seccion Contactanos */

main {
    section {
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            div {
                label {
                    font-family: $fuentePrincipal;   
                    margin-top: 50px;
                    font-size: 30px;
                    margin-bottom: 20px;
                }
                textarea {
                    width: 600px;
                    height: 200px;
                    font-family: $fuentePrincipal;   
                    font-size: 20px;
                    padding: 10px;  
                    margin-top: 20px;
                    box-shadow: 2px 2px 5px rgb(205, 129, 17);

                }
                input.datos {
                    width: 600px;
                    height: 50px;   
                    font-family: $fuentePrincipal;   
                    padding-left: 10px;    
                    font-size: 20px;
                    margin-top: 20px;
                    box-shadow: 2px 2px 5px rgb(205, 129, 17);
                }
                input::placeholder {
                    color: rgb(205, 129, 17);
                    font-size: 20px;
                    font-family: $fuentePrincipal;                
                }
                input.enviar {
                    width: 200px;
                    font-family: $fuentePrincipal;   
                    font-size: 20px;
                    margin-top: 20px;
                    background-color: rgb(255, 255, 255);
                    color: rgb(205, 129, 17);
                    box-shadow: 2px 2px 5px rgb(205, 129, 17);
                }
            }
        }

    }
}


/*Esto es el footer*/

section {
    div.direccion {
        display: flex;
        justify-content: center; 

    }
   
}


footer {
    margin-top: 300px;
    margin-bottom: 100px;
}


.centrar {
    text-align: $textoCentrado;
}
.icono {
    font-size: $tamanoIcono;
}




    
.parallax {
    /* The image used */
    background-image: url(../img/cafeofi.jpg);
  
    /* Set a specific height */
    height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


