@import '../scss/mixin';

$colorMenu: rgb(0, 0, 0);
$colorTitulo: black;
$fuentePrincipal: 'Poppins', sans-serif;
$textoCentrado: center;
$tamanoIcono: 30px;
$tamanoTituloSecciones: 50px;

*{padding: 0; margin: 0;}

html {
    width: auto;
}
header {
            ul.menuFlex {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                padding-right: 40px;
            }   
                    li {
                    list-style: none;
                    border-radius: 10px;
                    padding: 20px;
                    font-family: $fuentePrincipal 
                   
                    }   
                        a {
                            text-decoration: none;
                            color: $colorMenu;
                            font-size: 25px;    
                        }
            h1 {
                font-size: $tamanoTituloSecciones;
                font-family: $fuentePrincipal;
                padding-bottom: 60px; 
            }                    
}

main.container-fluid {
    section.row.cards {
        margin-bottom: 100px;
    }
    h1 {
        font-size: $tamanoTituloSecciones;
        font-family: $fuentePrincipal; 
        padding-bottom: 60px; 
    }

    section {
        div{
            h2.h2Ambar{
                @include tipografiaJustificada;
                margin-bottom: 40px;
                margin-left: 90px;
            }
            p.textoAmbar{
                @include tipografiaJustificada;
                font-size: 25px; 
                margin-left: 90px;
                margin-bottom: 100px;
            img.imagenAmbar{
                margin-bottom: 100px;
            }    
            }
        }
    }
}

// Esto es el index
main {
    section {
        div {
            div.imagenPortada {
                background-image: url(../img/cafeofi.jpg);
                width: 100%;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 600px;
                object-fit: cover;
              
                /* scrolling effect */
                background-attachment: fixed;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                
                    h1 {
                        width: 100%;
                        color: $colorTitulo;
                        font-family: $fuentePrincipal;
                        font-size: 100px;
                        margin-top: 50px;
                        margin-bottom: 50px;
                        background: rgba(255, 254, 254, 0.515) 
                    }  
            }
        } 
    }
    section.row {
        div{
            p { @include tipografiaJustificada;
                font-size: 30px;
                text-align: $textoCentrado;
                margin-top: 100px;
                text-align: justify;
            }
        }
        div {
            img.imagenCafe {
                margin-top: 115px;
                margin-left: 60px;
                width: 400px;
            }
        }
    }
}


#contenedor{
    width: 100%;
    display: grid;
    justify-content: center;             
    #proyectos{
            display: grid;
            width: fit-content;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows:  1fr 1fr 1fr; 
            column-gap: 10px;
            row-gap: 10px;
            justify-content: center; 
            
            img{
                width:100%;
                transition: all 1s;
                 }                 

            img:hover{
                transform: scale(1.3);
            }
    } 
}                                               


footer {
    margin-top: 900px;
}


.centrar {
    text-align: $textoCentrado;
}
.icono {
    font-size: $tamanoIcono;
}
.iconoCafe {
    font-size: 40px;
}



    
.parallax {
    /* The image used */
    background-image: url(../img/cafeofi.jpg);
  
    /* Set a specific height */
    height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


