<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>AMBAR</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../scss/estilado.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" 
        rel="stylesheet">
        
</head>

<body> 
    <header>
        <div>
            <nav>
                <ul class="menuFlex">
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="ambar.html">Ambar</a></li>
                    <li><a href="galeria.html">Galeria</a></li>
                    <li><a href="especialidades.html">Especialidades</a></li>
                    <li><a href="contactanos.html">Contactanos</a></li>
                </ul> 
            </nav>
        </div>
        <h1 class="centrar">Nuestras Especialidades</h1>
    </header>

    <main class="container">
        <section>
            <div class="row row-cols-1 row-cols-md-2">
                <div class="col mb-4">
                  <div class="card">
                    <img src="../img/cafealfajores.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card">
                    <img src="../img/cafepandulce.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card">
                    <img src="../img/cafetorta.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                    </div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card">
                    <img src="../img/caferollitos.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                  </div>
                </div>
              </div>
        </section>
    </main>

    <footer>
        <section class="row centrar">
            <div class="col-sm-3 col-md-2 col-lg-3">
                <ion-icon class="icono" name="mail-outline"></ion-icon> 
                <p>hello@ambar.com.ar</p>         
            </div>
            <div class="col-sm-3 col-md-2 col-lg-3">
                <ion-icon class="icono" name="logo-instagram"></ion-icon>
                <p>@somosambar</p>            
            </div>
            <div class="col-sm-3 col-md-2 col-lg-3">
                <ion-icon class="icono" name="logo-facebook"></ion-icon>
                <p>/somosambar</p>
            </div>
            <div class="col-sm-3 col-md-2 col-lg-3">
                <ion-icon class="icono" name="logo-whatsapp"></ion-icon> 
                <p>11-8493-4520</p>           
            </div>
        </section>
        <section>  
            <div class="direccion">
                <p>Olleros 2453 - CP 1425</p>
            </div>
        </section>
    </footer>



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
</body>
</html>